body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/coffee-shop-instagram-post-background-vector_53876-136841.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Styling for the main container to ensure the content stays on top */
.home-container {
  background-color: rgba(200, 214, 175, 0.8); /* More distinct green */
  width: 70%;         /* 60% of the viewport width */
  height: 60%;        /* 50% of the viewport height */
  margin: auto;       /* Centers the container horizontally */
  display: flex;      /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  align-items: center;    /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  text-align: center;
  position: relative;
  padding: 5%;        /* Adds 5% padding inside the container */
  border-radius: 10px; /* Optional: Add rounded corners */
  border-color: #053225;
}

/* Quiz page container with a new shade of green */
.quiz-container {
  background-color: rgba(200, 214, 175, 0.8);  /* Adjusted green */
  min-height: 100vh;
  text-align: center;
  position: relative;
}

/* Green button styling for both home and quiz */
.home-button {
  background-color: #053225;
  border-color: #053225;
  position: absolute;
  left: 30px;
  top: 30px;
  width: 150px;
  height: 50px;
}
.home-button:hover{
  background-color: #C8D6AF;
}

.quiz-title {
  font-family: 'Palatino', serif;
  font-weight: bold;
}

.quiz-description {
  font-family: 'Palatino', serif;
}

.progress-container {
  width: 50%;
  margin: 0 auto;
}

.progress-bar {
  width: 100%;
  border: 3px solid #772e25;
  border-radius: 7px;
  background-color: #FFECCC;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.progress-fill {
  background-color: #053225;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #FFFFFF;
  transition: width 0.5s ease;
}

.question-container {
  position: relative;
  margin-top: 1%;
  border: 5px solid #772e25;
  width: 75%;
  height: 90%;
  padding-top: 3%;
  background-color: #FFEECC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5%;
}

.option-col {
  margin: 1%;
  margin-top: 8%;
  padding: 3%;
}

.option-button {
  width: 150px; /* Set a fixed width */
  height: 130px; /* Set a fixed height */
  border-radius: 20%;
  background-color: #053225;
  border-color: #053225;
}
.option-button:hover{
  background-color: #C8D6AF;
  border-color: #C8D6AF;
}

.option-button.selected {
  background-color: #C8D6AF;
  border-color: #C8D6AF;
  color:#44200D
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.results-button {
  display: block;
  margin: 20px auto 0; /* Centered below the question container */
  width: 15%;
  height: 50px;
  background-color: #053225;
  border-color: #053225;
  transition: background-color 0.3s ease;
}

.results-button:hover {
  background-color: #053225;
  border-color: #053225;
}

.results-button:active {
  background-color: #C8D6AF;
}

.prev-button,
.next-button {
  width: 25%;
  height: 50px;
  background-color: #053225 !important;
  transition: background-color 0.3s ease;
  border-color: #053225;
  border-radius: 10x;
}

.prev-button:hover,
.next-button:hover {
  background-color: #FFECCC;
  border-color:#FFECCC;
}

.prev-button:active,
.next-button:active {
  background-color: #C8D6AF;
  border-color: #C8D6AF;
}

.about-creators-button {
  background-color:#772e25;
  border-color:#772e25;
  position: 'absolute';
  top: '5%',;
  right: '75%';
  font-size: '18px';
  padding: '10px 20px'; 
  border-radius: '5px';
  color: 'white'
}
.about-creators-button:hover{
  background-color: #c4a848;
  border-color: #c4a848
}
.App-Header {
  padding: 20px;
  font-family: 'Palatino', serif;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  text-align: center; /* Ensures the text inside the header is centered */
}

.App-Header h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.App-Header h1 span {
  display: inline-block; /* Makes the span behave like a block to align */
}

.App-Header .match-text {
  color: #52681D;
}

.App-Header .career-text {
  color: black;
}

.App-Header .creators-info {
  color: #44200D;
  font-size: 18px;
  margin-top: 10px;
}
.results-container {
  border: 4px solid #772e25;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 600px;
  background-color: #FFEECC;
  font-family: "Modern No. 20";
  border-radius: 5%;
}
.dancing-coffee {
  width: 20% !important;
  height: auto !important;
}
.donut {
  width: 20% !important;
  height: auto !important;
}
.bear{
  width: 10% !important;
  height: auto !important;
}



