body {
  margin: 0;
  padding: 0;
  height: auto;
  background-image: url('https://img.freepik.com/free-vector/coffee-shop-instagram-post-background-vector_53876-136841.jpg');
  background-size: 90%;
  background-position: center;
  display: flex;
  flex-direction: column;
}

/* Styling for the main container to ensure the content stays on top */
.home-container {
  background-color: rgba(200, 214, 175, 0.8); /* More distinct green */
  width: 80%;         /* 80% of the viewport width */
  height: auto;        /* 80% of the viewport height */
  margin: 20px auto;       /* Centers the container horizontally */
  display: flex;      /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  align-items: center;    /* Centers children horizontally */
  justify-content: flex; /* Centers children vertically */
  text-align: center;
  position: relative;
  padding: 3%;        /* Adds 5% padding inside the container */
  border: 2px solid #053225;
  border-radius: 10px; /* Optional: Add rounded corners */
  overflow: hidden;
}
.home-container h2 {
  font-family: 'Palatino', serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #053225;
}

/* Quiz page container with a new shade of green */
.quiz-container {
  background-color: rgba(200, 214, 175, 0.8);  /* Adjusted green */
  background-size: cover;
  min-height: 100vh;
  height:auto;
  text-align: center;
  position: relative;
  
}

.custom-box {
  border-color: #44200D;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: dashed;
  border-right-style: dashed;
  border-radius: 10%;
  border-width: 5px;
  margin: 10px;
  padding-bottom: 10px;
  width: fit-content;
}
.custom-box Col {
  margin: 5px;
  width: fit-content;
  padding: 5px;
}
.custom-box h3 {
  padding-bottom: 20px;
  color: #52681D;
}
/* Green button styling for both home and quiz */
.home-button {
  background-color: #053225;
  border-color: #053225;
  position: absolute;
  left: 30px;
  top: 30px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
}

.home-button:focus, 
.home-button:focus-visible, 
.home-button:active {
  outline: none !important;
  box-shadow: none !important;
}
.home-button:hover{
  background-color: #C8D6AF;
}

.quiz-title {
  font-family: 'Palatino', serif;
  font-weight: bold;
}

.quiz-description {
  font-family: 'Palatino', serif;
}

.progress-container {
  width: 50%;
  margin: 0 auto;
}

.progress-bar {
  width: 100%;
  border: 3px solid #772e25;
  border-radius: 7px;
  background-color: #FFECCC;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.progress-fill {
  background-color: #053225;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #FFFFFF;
  transition: width 0.5s ease;
}

.question-container {
  position: relative;
  border: 5px solid #772e25;
  width: 75%;
  height: 90%;
  padding-top: 3%;
  background-color: #FFEECC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5%;
  margin-top: -15px;
}

.option-col {
  margin: 1%;
  margin-top: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.option-button {
  width: 150px; /* Set a fixed width */
  height: 130px; /* Set a fixed height */
  border-radius: 20%;
  background-color: #053225;
  border-color: #053225;
  transition: none;
}
.option-button:hover{
  background-color: #C8D6AF;
  border-color: #C8D6AF;
}

.option-button.selected {
  background-color: #C8D6AF;
  border-color: #C8D6AF;
  color:#44200D;
  transition: none;
}

.option-button:focus, 
.option-button:focus-visible, 
.option-button:active {
  outline: none !important;
  box-shadow: none !important;
}


.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.results-button {
  display: block;
  margin: 20px auto 0; /* Centered below the question container */
  width: 15%;
  height: 50px;
  background-color: #053225;
  border-color: #053225;
  transition: background-color 0.3s ease;
}

.results-button:hover {
  background-color: #053225;
  border-color: #053225;
}

.results-button:active {
  background-color: #C8D6AF;
}

.prev-button,
.next-button {
  width: 25%;
  height: 50px;
  background-color: #053225 !important;
  transition: background-color 0.3s ease;
  border-color: #053225;
  border-radius: 10x;
}

.prev-button:hover,
.next-button:hover {
  background-color: #FFECCC;
  border-color:#FFECCC;
}

.prev-button:active,
.next-button:active {
  background-color: #C8D6AF;
  border-color: #C8D6AF;
}

.prev-button:focus, 
.prev-button:focus-visible, 
.prev-button:active,
.next-button:focus, 
.next-button:focus-visible, 
.next-button:active {
  outline: none !important;
  box-shadow: none !important;
}

.about-creators-button {
  background-color:#772e25;
  border-color:#772e25;
  position: 'absolute';
  top: '5%',;
  right: '75%';
  font-size: '18px';
  padding: '10px 20px'; 
  border-radius: '5px';
  color: 'white'
}
.about-creators-button:hover{
  background-color: #c4a848;
  border-color: #c4a848
}
.App-Header {
  padding: 20px;
  font-family: 'Palatino', serif;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  text-align: center; /* Ensures the text inside the header is centered */
  background-color: rgba(200, 214, 175, 0.8);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.App-Header h1 {
  font-size: 70px;
  font-weight: bold;
}

.App-Header .match-text {
  color: #52681D;
}

.App-Header .career-text {
  color: black;
}

.App-Header .creators-info {
  color: #44200D;
  font-size: 18px;
  margin-top: 10px;
}

.careerResults {
  width: auto;
}
.careerResults li {
  font-style: bold;
}
.careerResults ul {
  padding-Left: 0;
  list-style-position: inside;
  text-align: center;
}
.careerResults row {
  height: auto;
  padding-top: 50px;
}
.careerResults p {
  font-style: normal;
}
.careerResults div {
  text-align: center;
  padding-bottom: 20px;
}
.careerResults h3 {
  text-align: center;
}
.careerResults h4 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.career-header {
  display: inline-block; 
  background-color: #FFECCC;
  padding: 10px 20px; 
  font-size: 1.5rem; 
  font-weight: bold; 
  text-align: center; 
  border: 5px solid #a3826f; 
  border-radius: 30px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: default; 
  transition: transform 0.2s ease; 
  width: 50%;
}

.career-header:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}


.results-container {
  border: 4px solid #772e25;
  margin: 10px;
  padding: 2%;
  width: auto;
  height: auto;
  background-color: #FFEECC;
  font-family: "Palatino";
  font-size: 15px;
  border-radius: 5%;
  margin: 2%;
}

.about-me-container {
  border: 4px solid #772e25;
  margin: 10px;
  padding: 10px;
  width: 55%;
  height: 25%px;
  background-color: rgba(200, 214, 175, 0.8);
  font-family: "Palatino";
  font-size: 15px;
  border-radius: 5%;
  margin: 30px;
}
.dancing-coffee {
  width: 20% !important;
  height: auto !important;
}
.donut {
  width: 20% !important;
  height: auto !important;
}

.Panda1 {
  width: 18vw;
  height:auto;
  padding-bottom: 5px;
}
.panda-quiz {
  width: 15vw;
  height:auto;
  padding-top: 10px;
}
.Racoon1 {
  width: 18vw;
  height: auto;
  padding-bottom: 5px;
  
}
.racoon-quiz {
  width: 15vw;
  height:auto;
  padding-top: 10px;
}
.about-me-image{
  width: 60% !important;
  height: auto !important;
  border-radius: 5%;
}

.Submit-Button:focus, 
.Submit-Button:focus-visible, 
.Submit-Button:active {
  outline: none !important;
  box-shadow: none !important;
}


