.quiz-container {
  background-color: #C8D6AF;
  min-height: 100vh;
  text-align: center;
}

.home-button {
  background-color: #053225;
  border-color: #053225;
  position: absolute;
  left: 30px;
  top: 30px;
  width: 150px;
  height: 50px;
}

.quiz-title {
  font-family: 'Palatino', serif;
  font-weight: bold;
}

.quiz-description {
  font-family: 'Palatino', serif;
}

.progress-container {
  width: 50%;
  margin: 0 auto;
}

.progress-bar {
  width: 100%;
  border: 3px solid #772e25;
  border-radius: 7px;
  background-color: #FFECCC;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.progress-fill {
  background-color: #053225;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #FFFFFF;
  transition: width 0.5s ease;
}

.question-container {
  position: relative;
  margin-top: 1%;
  border: 5px solid #772e25;
  width: 75%;
  height: 90%;
  padding-top: 3%;
  background-color: #FFEECC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-col {
  margin: 1%;
  margin-top: 8%;
  padding: 3%;
}

.option-button {
  width: 150px; /* Set a fixed width */
  height: 130px; /* Set a fixed height */
  border-radius: 20%;
  background-color: #053225;
  border-color: #053225;
}
.option-button:hover{
  background-color: #C8D6AF;
  border-color: #C8D6AF;
}

.option-button.selected {
  background-color: #C8D6AF;
  border-color: #C8D6AF;
  color:#44200D
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.results-button {
  display: block;
  margin: 20px auto 0; /* Centered below the question container */
  width: 15%;
  height: 50px;
  background-color: #053225;
  border-color: #053225;
  transition: background-color 0.3s ease;
}

.results-button:hover {
  background-color: #053225;
  border-color: #053225;
}

.results-button:active {
  background-color: #C8D6AF;
}

.prev-button,
.next-button {
  width: 25%;
  height: 50px;
  background-color: #053225 !important;
  transition: background-color 0.3s ease;
  color:#44200D
}

.prev-button:hover,
.next-button:hover {
  background-color: #FFECCC;
}

.prev-button:active,
.next-button:active {
  background-color: #C8D6AF;
}
